@import 'reset';
@import 'bases';
@import 'media-queries';
@import 'classes';
@import 'technologies';

/* NAVIGATION */
@include xs {
    nav {
        border-top: 1px solid var(--light);
    }
    .navbar-close {
        .navbar-elem {
            display: none;
        }
    }
    .navbar-open {
        .navbar-elem {
            display: block;
        }
    }
}

nav {
    background: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    #menu-burger {
        display: none;
        @include xs {
            display: block;
        }
    }
    a {
        display:block;
    }
    @include xs {
        position: fixed;
        bottom: 0;
        background: var(--light);
        padding: 0;
        margin: 0;
        width: 100%;
    }
    ul {
        display: flex;
        @include xs {
            flex-direction: column;
            width: 100%;
            text-align: center;
        }
        li {
            @include xs {
                line-height: 6rem;
                font-size: 1.6rem;
                padding: 0;
            }
            cursor: pointer;
            padding: 0 2rem;
            letter-spacing: 0.5rem;
            font-size: 2rem;
            line-height: 8rem;
            transition: all 0.3s;
            &:hover {
                background: var(--primary);
            }
        }
    }
}

/* GRID CONTAINER */
.grid-container {
    display: grid;
    min-height: 100vh;
    grid:
        "picture header" 25rem
        "aside content" auto
        "aside content" auto
        / 35rem auto
    ;
    @include xs {
        grid:
            "picture header" 15rem
            "content content" auto
            "aside aside" auto
            / auto;
    }

    .picture {
        grid-area: picture;
        background: var(--light);
        display: flex;
        justify-content: center;
        padding: 2rem;
        @include xs {
            min-width: 15rem;
            height: 15rem;
        }
        img {
            height: 100%;
            border-radius: 50%;
            border: 2px solid white;

        }
    }
    
    /* HEADER */
    header {
        animation-duration: 2s;
        animation-name: slideinFromLeft;
        grid-area: header;
        background: var(--light);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 1rem;
        @include xs {

            h2 {
                font-size: 1.7rem;
            }
            span {
                display: none;
            }
        }
        h1{
            letter-spacing: 2rem;
            font-size: 4rem;
            @include xs {
                font-size: 2rem;
                letter-spacing: 1rem;
            }
        }
    }

    /* ASIDE */
    aside {
        grid-area: aside;
        display: flex;
        justify-content: center;
        background: var(--dark);
        padding: 5rem;

        .block {
            animation-duration: 2s;
            animation-name: slideinFromRight;
            margin-bottom: 3rem;
        }
        h2 {
            margin: 2rem 0;
            letter-spacing: 0.4rem;
        }

        i {
            flex: 0 0 5rem;
            font-size: 2rem;
            margin: 0 1rem;

        }
        .social-container {
            display: flex;
            justify-content: start;
            align-items: center;
            border-radius: 3rem;
            transition: all 0.3s;

            &:hover {
                background: var(--primary);
                transform: scale(1.2);
            }
            i {
                flex: 0 0 5rem;
                font-size: 2rem;
            }
        }
    }

    .welcome {
        grid-area: content;
        background: var(--primary);
        padding: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        @include xs {
            padding:3rem;
        }
        .welcome-container {
            border-radius: 0.2rem;
            background: var(--light);
            padding: 3rem;
            @include xs {

                background: var(--dark);
                .text-flashy {
                    font-size: 1.9rem;
                }
            }
            p:first-child {
                font-size: 5rem;
            }
            p {
                font-size: 1.7rem;
                margin-bottom: 3rem;
            }

            hr {
                margin: 2rem 0 2rem 0;
            }
        }

    }

}

.tooltip {
    padding: 1rem;
    font-weight: 700;
    display: none;
}

// --------------- SKILLS ---------------//
.skills-container {

    background: var(--light);
    display: flex;
    justify-content: center;
    @include xs {
        text-align: center;
        background: var(--primary);
    }

}

.skills {
    display:flex;
    flex-direction: column;
    padding: 5rem;
    margin: 5rem;
    background: var(--dark);
    border-radius: 5px;
    width: 100%;
    @include xs {
        margin: 1rem;
        padding: 0;
        width: 100%;
        background: var(--primary);
    }

    h2 {
        text-align: center;
        font-size: 5rem;
        letter-spacing: 1rem;
        @include xs {
            font-size: 2.5rem;
        }
    }

    .skills-content {
        display: flex;
        @include xs {
            flex-direction: column;
        }
        section {
            margin: 2rem;
            width: 50%;
            background-color: var(--primary);
            padding: 3rem;
            border-radius: 5px;
            @include xs {
                width: 100%;
                margin: 0;
                margin-bottom: 1.5rem;
                background: var(--dark);
            }
            h3 {
                text-align: center;
                font-size: 3rem;
                @include xs {
                    font-size: 2rem;
                }
            }
            h4 {
                margin: 3rem 0 3rem 0;
                font-size: 2rem;
                font-weight: 500;
                @include xs {
                    font-size: 1.8rem;
                }
            }
        }
    }

    img {
        height: 6rem;
        margin: 0 1rem 0 0;
        background: white;
        padding: 1rem;
        border-radius: 5px;
        &:hover {
            transform: scale(1.2);
        }
    }

}
// --------------- ACHIEVEMENTS ---------------//
.achievements-container {
    background: var(--primary);
    display: flex;
    justify-content: center;
    @include xs {
        width: 100%;
        background: var(--dark);
    }
}

.achievements {
    display:flex;
    flex-direction: column;
    padding: 5rem;
    margin: 5rem;
    background: var(--dark);
    border-radius: 5px;
    width: 80%;
    align-items: center;
    @include xs {
        margin: 1rem;
        padding: 0rem;
        width: 100%;
    }
    h2 {
        text-align: center;
        font-size: 5rem;
        letter-spacing: 0.5rem;
        @include xs {
           font-size: 2rem;
        }
    }
}

.achievements-content {
    border-radius: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    @include xs {
        padding: 0;
    }
    .achievement-block {
        display: grid;
        grid: 
        "img" 20rem
        "content" 30rem
        "github" 4rem
        / 34rem;

        background: var(--primary);

        border: 2px solid var(--light);
        border-radius: 5px;
        margin: 3rem;

        &:hover {
            box-shadow: 0px 0px 8px 0px white;
        }

        img {
            grid-area: img;
            width: 35rem;
            height: 20rem;
        }
        .achievement-content {
            grid-area: content;
            padding: 0 2rem;
            overflow: hidden;
            h3 {
                text-align: center;
                margin-bottom: 1rem;
                font-size: 2.5rem;
            }

            .achievement-technologies {
                display: flex;
                flex-flow: row wrap;
                span {
                    margin: 0 0.7rem 0.7rem 0;
                    font-size: 1.7rem;
                }
            }
            .date {
                font-style: italic;
                font-weight: 300;
                font-size: 1.7rem;
            }
            .achievement-description {
                font-weight: 400;
            }
        }
        .achievement-github {
            grid-area: github;
            font-size: 3rem;
            place-self: center;
            @include xs {
                font-size: 2.5rem;
            }
        }
    }
}

/* ---------------- CONTACT -------------*/
.contact-container {
    background: var(--dark);
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 6rem;
    @include xs {
        background: var(--primary);
        padding-bottom: 1rem;
    }
    h2 {
        text-align: center;
        font-size: 5rem;
        letter-spacing: 0.5rem;
        margin-top: 6rem;
        @include xs {
            margin-top: 3rem;
            font-size: 2rem;
        }
    }
    form {
        display: flex;
        flex-direction: column;
        margin: 4rem;
        padding: 3rem;
        width: 50%;
        background: var(--primary);
        border-radius: 5px;
        box-shadow: 0px 0px 10px 0px white;
        @include xs {
            margin: 1rem;
            padding: 2rem;
            width: 100%;
            box-shadow: none;
            background: none;
        }
        label {
            margin: 1rem 0;
        }
        input {
            border: 0;
            outline: none;
            padding: 0.5rem;
            font-size: 1.6rem;
            margin-bottom: 1rem;
            border-radius: 5px;
        }

        textarea {
            height: 15rem;
            border-radius: 5px;
            padding: 1rem;
            outline: none;
        }

        button {
            margin-top: 2rem;
        }

        span {
            text-align: center;
        }

        .g-recaptcha {
            margin:  0 auto;
        }

    }

}
/* -------------- FOOTER -------------*/
footer {
    height: 5rem;
    background-color: var(--primary);
    display: flex;
    justify-content: center;align-items: center;
}