extends admin-layout.pug
block css
    link(rel="stylesheet", href="css/admin/dashboard.css")
block content 
    .dashboard-container
        h1 DASHBOARD ADMIN 
        .dashboard-content 
            .dashboard-elem 
                p 123
                span Nombres de cv téléchargés
            .dashboard-elem 
                p 12345
                span Nombres de visite total
            .dashboard-elem 
                p 32
                span Formulaire de contact utilisé