.text {
    &-flashy {
        color: #e84118;
        font-size: 2rem;
    }
}


/* BUTTONS */
.btn {
    font-size: 1.6rem;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 0;
    transition: all 0.2s;
    text-transform: uppercase;
    font-weight: 700;
    &:hover {
        transform: scale(1.1);
    }

    &-red {
        background: #e13237;
        color: white
    }
}