<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    // Google fonts
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap" rel="stylesheet">

    // Styles
    link(rel="stylesheet", href="css/variables.css")
    link(rel="stylesheet", href="css/styles.css")
    block css
    
    // Font awesome
    script(src="https://kit.fontawesome.com/a4c435403d.js" crossorigin="anonymous")

    // captcha
    script(src="https://www.google.com/recaptcha/api.js" async defer)
    block js
    title Cédric Marurai | Développeur Fullstack

  body
    block content 