* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: var(--font-family);
  color: white;
  font-size: 1.6rem;
  white-space: pre-line;
  width: fit-content; }

p {
  margin: 1rem 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0 2rem 0; }

ul {
  list-style: none; }

a {
  color: white;
  text-decoration: none; }

img {
  max-width: 100%; }

/* Landscape phones and down */
/* Portrait tablet to landscape and desktop */
/* Large desktop */
.text-flashy {
  color: #ffb037;
  font-size: 2rem; }

/* BUTTONS */
.btn {
  font-size: 1.6rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 0;
  transition: all 0.2s;
  text-transform: uppercase;
  font-weight: 700; }
  .btn:hover {
    transform: scale(1.05); }
  .btn-flashy {
    background: #ffb037;
    color: white; }

.chip {
  color: white;
  padding: 0 0.5rem;
  border-radius: 5px; }
  .chip-vuejs {
    background: #3fb27f; }
  .chip-springboot {
    background: #66a83c; }
  .chip-kotlin {
    background: #e57934; }
  .chip-docker {
    background: #0098d5; }
  .chip-scrapy {
    background: #2faa3e; }
  .chip-typescript {
    background: #2e74c0; }
  .chip-nodejs {
    background: #8cbf3d; }
  .chip-mysql {
    background: #e08a01; }
  .chip-mongodb {
    background: #4baa4f; }
  .chip-pug {
    background: #53312a; }
  .chip-react {
    background: #5dd3f3; }
  .chip-graphql {
    background: #de33a6; }
  .chip-angular {
    background: #db2f35; }
  .chip-linux {
    background: black; }

/* NAVIGATION */
@media (max-width: 1000px) {
  nav {
    border-top: 1px solid var(--light); }
  .navbar-close .navbar-elem {
    display: none; }
  .navbar-open .navbar-elem {
    display: block; } }

nav {
  background: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center; }
  nav #menu-burger {
    display: none; }
    @media (max-width: 1000px) {
      nav #menu-burger {
        display: block; } }
  nav a {
    display: block; }
  @media (max-width: 1000px) {
    nav {
      position: fixed;
      bottom: 0;
      background: var(--light);
      padding: 0;
      margin: 0;
      width: 100%; } }
  nav ul {
    display: flex; }
    @media (max-width: 1000px) {
      nav ul {
        flex-direction: column;
        width: 100%;
        text-align: center; } }
    nav ul li {
      cursor: pointer;
      padding: 0 2rem;
      letter-spacing: 0.5rem;
      font-size: 2rem;
      line-height: 8rem;
      transition: all 0.3s; }
      @media (max-width: 1000px) {
        nav ul li {
          line-height: 6rem;
          font-size: 1.6rem;
          padding: 0; } }
      nav ul li:hover {
        background: var(--primary); }

/* GRID CONTAINER */
.grid-container {
  display: grid;
  min-height: 100vh;
  grid: "picture header" 25rem "aside content" auto "aside content" auto / 35rem auto;
  /* HEADER */
  /* ASIDE */ }
  @media (max-width: 1000px) {
    .grid-container {
      grid: "picture header" 15rem "content content" auto "aside aside" auto / auto; } }
  .grid-container .picture {
    grid-area: picture;
    background: var(--light);
    display: flex;
    justify-content: center;
    padding: 2rem; }
    @media (max-width: 1000px) {
      .grid-container .picture {
        min-width: 15rem;
        height: 15rem; } }
    .grid-container .picture img {
      height: 100%;
      border-radius: 50%;
      border: 2px solid white; }
  .grid-container header {
    animation-duration: 2s;
    animation-name: slideinFromLeft;
    grid-area: header;
    background: var(--light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem; }
    @media (max-width: 1000px) {
      .grid-container header h2 {
        font-size: 1.7rem; }
      .grid-container header span {
        display: none; } }
    .grid-container header h1 {
      letter-spacing: 2rem;
      font-size: 4rem; }
      @media (max-width: 1000px) {
        .grid-container header h1 {
          font-size: 2rem;
          letter-spacing: 1rem; } }
  .grid-container aside {
    grid-area: aside;
    display: flex;
    justify-content: center;
    background: var(--dark);
    padding: 5rem; }
    .grid-container aside .block {
      animation-duration: 2s;
      animation-name: slideinFromRight;
      margin-bottom: 3rem; }
    .grid-container aside h2 {
      margin: 2rem 0;
      letter-spacing: 0.4rem; }
    .grid-container aside i {
      flex: 0 0 5rem;
      font-size: 2rem;
      margin: 0 1rem; }
    .grid-container aside .social-container {
      display: flex;
      justify-content: start;
      align-items: center;
      border-radius: 3rem;
      transition: all 0.3s; }
      .grid-container aside .social-container:hover {
        background: var(--primary);
        transform: scale(1.2); }
      .grid-container aside .social-container i {
        flex: 0 0 5rem;
        font-size: 2rem; }
  .grid-container .welcome {
    grid-area: content;
    background: var(--primary);
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (max-width: 1000px) {
      .grid-container .welcome {
        padding: 3rem; } }
    .grid-container .welcome .welcome-container {
      border-radius: 0.2rem;
      background: var(--light);
      padding: 3rem; }
      @media (max-width: 1000px) {
        .grid-container .welcome .welcome-container {
          background: var(--dark); }
          .grid-container .welcome .welcome-container .text-flashy {
            font-size: 1.9rem; } }
      .grid-container .welcome .welcome-container p:first-child {
        font-size: 5rem; }
      .grid-container .welcome .welcome-container p {
        font-size: 1.7rem;
        margin-bottom: 3rem; }
      .grid-container .welcome .welcome-container hr {
        margin: 2rem 0 2rem 0; }

.tooltip {
  padding: 1rem;
  font-weight: 700;
  display: none; }

.skills-container {
  background: var(--light);
  display: flex;
  justify-content: center; }
  @media (max-width: 1000px) {
    .skills-container {
      text-align: center;
      background: var(--primary); } }

.skills {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  margin: 5rem;
  background: var(--dark);
  border-radius: 5px;
  width: 100%; }
  @media (max-width: 1000px) {
    .skills {
      margin: 1rem;
      padding: 0;
      width: 100%;
      background: var(--primary); } }
  .skills h2 {
    text-align: center;
    font-size: 5rem;
    letter-spacing: 1rem; }
    @media (max-width: 1000px) {
      .skills h2 {
        font-size: 2.5rem; } }
  .skills .skills-content {
    display: flex; }
    @media (max-width: 1000px) {
      .skills .skills-content {
        flex-direction: column; } }
    .skills .skills-content section {
      margin: 2rem;
      width: 50%;
      background-color: var(--primary);
      padding: 3rem;
      border-radius: 5px; }
      @media (max-width: 1000px) {
        .skills .skills-content section {
          width: 100%;
          margin: 0;
          margin-bottom: 1.5rem;
          background: var(--dark); } }
      .skills .skills-content section h3 {
        text-align: center;
        font-size: 3rem; }
        @media (max-width: 1000px) {
          .skills .skills-content section h3 {
            font-size: 2rem; } }
      .skills .skills-content section h4 {
        margin: 3rem 0 3rem 0;
        font-size: 2rem;
        font-weight: 500; }
        @media (max-width: 1000px) {
          .skills .skills-content section h4 {
            font-size: 1.8rem; } }
  .skills img {
    height: 6rem;
    margin: 0 1rem 0 0;
    background: white;
    padding: 1rem;
    border-radius: 5px; }
    .skills img:hover {
      transform: scale(1.2); }

.achievements-container {
  background: var(--primary);
  display: flex;
  justify-content: center; }
  @media (max-width: 1000px) {
    .achievements-container {
      width: 100%;
      background: var(--dark); } }

.achievements {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  margin: 5rem;
  background: var(--dark);
  border-radius: 5px;
  width: 80%;
  align-items: center; }
  @media (max-width: 1000px) {
    .achievements {
      margin: 1rem;
      padding: 0rem;
      width: 100%; } }
  .achievements h2 {
    text-align: center;
    font-size: 5rem;
    letter-spacing: 0.5rem; }
    @media (max-width: 1000px) {
      .achievements h2 {
        font-size: 2rem; } }

.achievements-content {
  border-radius: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }
  @media (max-width: 1000px) {
    .achievements-content {
      padding: 0; } }
  .achievements-content .achievement-block {
    display: grid;
    grid: "img" 20rem "content" 30rem "github" 4rem / 34rem;
    background: var(--primary);
    border: 2px solid var(--light);
    border-radius: 5px;
    margin: 3rem; }
    .achievements-content .achievement-block:hover {
      box-shadow: 0px 0px 8px 0px white; }
    .achievements-content .achievement-block img {
      grid-area: img;
      width: 35rem;
      height: 20rem; }
    .achievements-content .achievement-block .achievement-content {
      grid-area: content;
      padding: 0 2rem;
      overflow: hidden; }
      .achievements-content .achievement-block .achievement-content h3 {
        text-align: center;
        margin-bottom: 1rem;
        font-size: 2.5rem; }
      .achievements-content .achievement-block .achievement-content .achievement-technologies {
        display: flex;
        flex-flow: row wrap; }
        .achievements-content .achievement-block .achievement-content .achievement-technologies span {
          margin: 0 0.7rem 0.7rem 0;
          font-size: 1.7rem; }
      .achievements-content .achievement-block .achievement-content .date {
        font-style: italic;
        font-weight: 300;
        font-size: 1.7rem; }
      .achievements-content .achievement-block .achievement-content .achievement-description {
        font-weight: 400; }
    .achievements-content .achievement-block .achievement-github {
      grid-area: github;
      font-size: 3rem;
      place-self: center; }
      @media (max-width: 1000px) {
        .achievements-content .achievement-block .achievement-github {
          font-size: 2.5rem; } }

/* ---------------- CONTACT -------------*/
.contact-container {
  background: var(--dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 6rem; }
  @media (max-width: 1000px) {
    .contact-container {
      background: var(--primary);
      padding-bottom: 1rem; } }
  .contact-container h2 {
    text-align: center;
    font-size: 5rem;
    letter-spacing: 0.5rem;
    margin-top: 6rem; }
    @media (max-width: 1000px) {
      .contact-container h2 {
        margin-top: 3rem;
        font-size: 2rem; } }
  .contact-container form {
    display: flex;
    flex-direction: column;
    margin: 4rem;
    padding: 3rem;
    width: 50%;
    background: var(--primary);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px white; }
    @media (max-width: 1000px) {
      .contact-container form {
        margin: 1rem;
        padding: 2rem;
        width: 100%;
        box-shadow: none;
        background: none; } }
    .contact-container form label {
      margin: 1rem 0; }
    .contact-container form input {
      border: 0;
      outline: none;
      padding: 0.5rem;
      font-size: 1.6rem;
      margin-bottom: 1rem;
      border-radius: 5px; }
    .contact-container form textarea {
      height: 15rem;
      border-radius: 5px;
      padding: 1rem;
      outline: none; }
    .contact-container form button {
      margin-top: 2rem; }
    .contact-container form span {
      text-align: center; }
    .contact-container form .g-recaptcha {
      margin: 0 auto; }

/* -------------- FOOTER -------------*/
footer {
  height: 5rem;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center; }
